/* CSS - header.php*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.header-principal {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: #7290b0;
}

.header-principal > img {
    height: 40px;
}
.btn-atalhos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    gap: 20px;
}
.btn-atalhos > .btn-atalho {
    text-decoration: none;
    color: #373435;
}

/* CSS - footer.php*/

.rodape {
    width: 100%;
    height: 56px;
    padding: 20px 0;
    background-color: #7290b0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rodape > p {
    color: #373435;
}

/* CSS - home.php*/

.homepage {
    width: auto;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.homepage-acesso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homepage-acesso > img {
    height: 70px;
    width: auto;
}
.homepage-acesso > .title-main {
    font-size: 28px;
    font-weight: bold;
}
.homepage-acesso > h3 {
    font-weight: 300;
    font-size: 20px;
}

.preenchimento-dados {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    flex-direction: column;
}

.preenchimento-dados > label {
    font-weight: 300;
}
.preenchimento-dados > input {
    background-color: #d9d9d9;
    border: 0.5px solid #fff;
    height: 40px;
    width: 400px;
    border-radius: 10px;
}

.homepage-opcional {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.homepage-opcional > a,
.homepage-cadastro > a {
    text-decoration: none;
    color: black;
}
.homepage-opcional > a:hover,
.homepage-cadastro > a:hover {
    color: #474141;
}

.homepage-cadastro > hr {
    width: 50%;
    margin: 20px auto;
}

.homepage-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.submit-dados {
    background-color: #7290b0;
    background-color: #d9d9d9;
    border: 0.5px solid #fff;
    height: 40px;
    width: 400px;
    border-radius: 10px;

}
.submit-dados:hover {
    background-color: #5e7a97;
}

/*CSS - cadastro*/

#cadastro, #editar-dados {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}

#cadastro-aluno, #editar-dados {
    height: 392px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#submit-cadastro {
    flex-grow: 8;
    
}

/*CSS - mostrando aluno*/

table{
    margin: auto;
    height: 1fr;

}

.dados-solicitado {
    font-weight: bold;
    color: #121d35;
    padding: 5px;
    width: 300px;
    border: 2px solid #ccc;
}
.dados-recebido {
    padding-left: 20px;
    border: 0.2px solid #ccc;
    font-weight: 300;
    color: #121d35;
}

#editar-form{
    margin:30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
