* {
    margin: 0;
    padding: 0;
}

.fundo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.background-btns {
    padding: 50px;
    background-color: #57b4b7;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.button,
#cadastrar {
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: rgb(212, 250, 250);
}

.button > a,
#cadastrar {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.button:hover,
#cadastrar:hover {
    background-color: #314b4b;
    color: azure;
}

.preenchimento-dados {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.preenchimento-dados > label {
    font-family: sans-serif;
}

.preenchimento-dados > input{
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 3px;
}

.form-cadastro {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btns-funcionais{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.dados-usuario{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.title-cadastro{
    text-align: center;
    font-family: sans-serif;
}